{% extends "credito/base.html" %}
{% load static %}
{% block content %}

<div class="container m-5">
  <h2>Fatura atual a ser <span style="color:red;">paga no início de {{ MES_REFERENCIA }}</span> com gastos realizados em {{ MES_GASTOS }}</h2>
  <p>O valor atual estima para pagamento do cartão de crédito é: <b>{{ VALOR_TOTAL }}</b> com vencimento em <b>{{ VENCIMENTO|date:"d/m/Y" }}</b> com soma das compras parceladas no valor de: <b>{{ VALOR_TOTAL_CREDITO }}</b> .</b></p>
  A soma dos valores de terceiros é de <b>{{ VALOR_TOTAL_EXTERNO }}</b> e valor total final a ser pago será de <b>{{ VALOR_A_PAGAR }}</b> reais.
    <div class="mb-3 d-flex justify-content-end">
        <a class="btn btn-warning" href="{% url 'dashboard' %}" role="button"><ion-icon name="bar-chart-outline"></ion-icon> Dashboard </a>
        <a class="btn btn-danger" href="{% url 'fatura' %}" role="button"><ion-icon name="document-text-outline"></ion-icon> Fatura Atual </a>
        <a class="btn btn-success" href="{% url 'fatura' DATA_PROXIMA %}" role="button"><ion-icon name="chevron-back-outline"></ion-icon> {{ PROX_MES }} </a>
      <a class="btn btn-success" href="{% url 'fatura' DATA_ANTERIOR %}" role="button"> {{ MES_GASTOS }} <ion-icon name="chevron-forward-outline"></ion-icon></a>
        <a class="btn btn-primary" href="{% url 'add_compra' %}" role="button">Compra<ion-icon name="duplicate-outline"></ion-icon> </a>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th>N</th>
        <th>Data da Compra</th>
        <th>Loja</th>
        <th>Parcela</th>
        <th>Valor</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Responsável</th>
        <th>Editar</th>
      </tr>
    </thead>

    <tbody>

     {% for compra in compras %}

        {% if compra.responsavel == "DIOGO" %}
            <tr class="table-primary">
        {% elif compra.responsavel == "IANKA" %}
            <tr class="table-warning">
        {% elif compra.responsavel == "FAMÍLIA" %}
            <tr class="table-success">
        {% elif compra.categoria == "EXTERNO" %}
            <tr class="table-danger">
        {% else %}
            <tr>
        {% endif %}
              <td>{{ forloop.counter }} </td>
              <td><b>{{ compra.data_compra|date:"d/m/Y" }}</b></td>
              <td>{{ compra.loja }}</td>
              <td>{{ compra.parcela }}</td>
              <td>{{ compra.valor }}</td>
              <td>{{ compra.descricao }}</td>
              <td>{{ compra.categoria }}</td>
              <td>{{ compra.responsavel }}</td>
              <td><a href="{% url 'edit_compra' compra.id %}"><ion-icon name="create-outline"></ion-icon></a></td>
          </tr>

     {% endfor %}
     </tbody>
  </table>
</div>

{% endblock %}